{% extends "core/base.html" %}

{% block title %}
    Faktura - szczegóły
{% endblock %}

{% block content %}
    <a href="{% url 'core:invoices_list' %}"
       class="py-2.5 px-5 mr-2 mb-2 mt-10 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        Wróć do listy faktur
    </a>


    <a href="{% url 'core:invoice_pdf' invoice.id %}"
       class="py-2.5 px-5 mr-2 mb-2 mt-10 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        Pobierz PDF
    </a>


    <header class="mt-10">
        <div class="mx-auto max-w-7xl">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
                {{ invoice.invoice_number }}
            </h1>
        </div>
    </header>

    <main>
    <main>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Sprzedawca
                    </th>
                    <td class="px-6 py-4">
                        {{ invoice.seller }}
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Nabywca
                    </th>
                    <td class="px-6 py-4">
                        {{ invoice.purchaser }}
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Data sprzedaży
                    </th>
                    <td class="px-6 py-4">
                        {{ invoice.sale_date }}
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Data wystawienia
                    </th>
                    <td class="px-6 py-4">
                        {{ invoice.date_of_issue }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
            Produkty
        </h1>
        {% if invoice.products.all %}
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Nazwa
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Cena brutto
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ilość
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Opis
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Data utworzenia
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in invoice.products.all %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ product.name }}
                            </th>
                            <td class="px-6 py-4">
                                {{ product.gross_price }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product.amount }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product.description }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product.created_at }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Brak produktów
            </p>
        {% endif %}
    </main>
{% endblock %}
