{% extends "core/base.html" %}

{% block title %}Edycja faktury{% endblock %}

{% block content %}
    <header>
        <div class="mx-auto max-w-7xl">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
                Edycja faktury
            </h1>
        </div>
    </header>

    <form method="post" class="mt-10">{% csrf_token %}
        <div>
            <label for="{{ form.seller.id_for_label }}">Sprzedawca:</label>
            {{ form.seller }}
            <div class="error">{{ form.seller.errors }}</div>
        </div>
        <div>
            <label for="{{ form.purchaser.id_for_label }}">Nabywca:</label>
            {{ form.purchaser }}
            <div class="error">{{ form.purchaser.errors }}</div>
        </div>
        <div>
            <label for="{{ form.products.id_for_label }}">Produkty:</label>
            {{ form.products }}
            <div class="error">{{ form.products.errors }}</div>
        </div>
        <div>
            <label for="{{ form.invoice_number.id_for_label }}">Numer faktury:</label>
            {{ form.invoice_number }}
            <div class="error">{{ form.invoice_number.errors }}</div>
        </div>
        <div>
            <label for="{{ form.sale_date.id_for_label }}">Data sprzedaży (YYYY/MM/DD):</label>
            {{ form.sale_date }}
            <div class="error">{{ form.sale_date.errors }}</div>
        </div>
        <div>
            <label for="{{ form.date_of_issue.id_for_label }}">Data wystawienia (YYYY/MM/DD):</label>
            {{ form.date_of_issue }}
            <div class="error">{{ form.date_of_issue.errors }}</div>
        </div>

        <div class="flex flex-row gap-x-5">
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Potwierdź
            </button>
            <a href="{% url 'core:invoices_list' %}"
               class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Anuluj
            </a>
        </div>
    </form>
{% endblock %}