<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    {% load static tailwind_tags %}
    {% tailwind_css %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'core:index' %}">Home</a></li>
        <li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'core:users_list' %}">Users</a></li>
    </ul>
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>