{% extends "core/base.html" %}

{% block title %}IndexView{% endblock %}

{% block content %}
    <header>
        <div class="mx-auto max-w-7xl">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashbaord</h1>
        </div>
    </header>
    <p>view</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Tellus at urna condimentum mattis pellentesque id. Duis ut diam quam nulla porttitor massa.
        Aliquam eleifend mi in nulla posuere sollicitudin. Sit amet nisl suscipit adipiscing bibendum est ultricies.
        Arcu dictum varius duis at consectetur lorem donec. Consectetur adipiscing elit pellentesque habitant morbi
        tristique senectus et netus. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Sed
        blandit libero volutpat sed. Sit amet risus nullam eget felis eget. Et tortor consequat id porta nibh
        venenatis cras sed. Ipsum faucibus vitae aliquet nec ullamcorper. Laoreet non curabitur gravida arcu. Cursus
        euismod quis viverra nibh cras pulvinar mattis nunc. Metus vulputate eu scelerisque felis imperdiet proin
        fermentum leo. Turpis nunc eget lorem dolor sed viverra ipsum. Vehicula ipsum a arcu cursus vitae congue
        mauris rhoncus aenean. Hendrerit gravida rutrum quisque non tellus orci ac. Massa sapien faucibus et
        molestie ac feugiat sed. </p>
{% endblock %}